Note:  If the QU-32 is <strong>off</strong> while the MediaOne workstation is <strong><i>on</i></strong> the computer will not see it as an external audio interface.  Input (recording feeds from the board) and output (streaming audio from the Mac) will not work.

If Ableton Live is opened while in this state, Ableton Live's audio settings will be disabled and you will see a notification in the status bar in Ableton Live indicating that the audio engine is disabled.

<h2>Powering Up the QU-32</h2>

<h4>Current Routine</h4>

- Ensure the board is plugged in.<br />
- Depress the power switch on the back left of the unit.

<img src="/images/howto/qu-32-power-button.png">

<h4>Future Plans</h4>

A script will be put into place that will allow powering the unit remotely and automatically, based upon time of day and day of week, which will be tied into our service calendar and/or using presence detection (motion sensor / iPhone proximity / wave of your hand, etc.)
