Note: Before opening Ableton Live, understand that the system audio preferences need to be set to be using the QU-32 as the audio interface, which means that the QU-32 needs to be on.  This is not a hard pre-requisite to opening Ableton Live, but it will save you from having to re-configure the audio settings in Live's preferences.<p></p>

<h3>How to Open Ableton Live</h3>

Ableton Live 10 can be opened using the launch icon in the dock at the bottom of the screen.<br />

<img src="/images/howto/ableton-live-launch-icon.png">
