{% assign author = site.data.authors[page.author] %}
{% if author %}
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">
    by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
  </span>
</span>
{% endif %}
<p class="post-meta">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    Published on: {{ page.date | date: "%b %-d, %Y" }}</br>
  </time>

  {% if page.categories != null %}| Category:
    {% assign projectCategories = site.data.categories.allowed-categories %}
    {% for category in page.categories %}
      {% if projectCategories contains category %}
        <a href="{{ "category_" | append: category | append: ".html"}}">
          {{category}}
        </a>
        {% if category == 'audiovisual' %}yes{% else %}No{% endif %}
      {% unless forloop.last %},
      {% endunless%}
      {% endif %}
    {% endfor %}
  {% endif %}
