<!-- Pulls from _data network -->
{% assign departmentname = page.name | remove:"equipment_list_" | remove:".md" %} <!-- determine which department by the file name -->
{% assign locations = site.data.equipment | where:"department", departmentname | group_by:"location" %}

{% for location in locations %}
<table width="100%">


<tr style="background-color: #777; text-align: center;font-size: 20px; padding: 4px;">
    <th colspan="8" style="text-align: center;">{{location.name}}</th>
</tr>

{% assign brands = location.items | group_by:"brand" %}
{% for brand in brands %}

<tr>
  <th colspan="8" style="background-color: #999;">{{brand.name}}</th>
</tr>

{% for item in brand.items %}

{% if forloop.first == true %}

<tr>
{% for field in item %}

 {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 6 or forloop.index == 8 %}
 {% else %}
  <th style="font-size: 10px;">{{field[0]| replace: '_', ' ' | capitalize }}</th>
 {% endif %}
 {% endfor %}
</tr>
{% endif %}
<tr>
 {% for field in item %}
 {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 6 or forloop.index == 8 %}
 {% else %}
  <td>{% if field[1] contains 'http' %}<a href="{{site.url}}/{{item.model}}.html">Details</a>{% else %}{{field[1]}}{% endif %}</td>
 {% endif %}
 {% endfor %}
</tr>

{% endfor %}
{% endfor %}

</table>
{% endfor %}
