<div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse noCrossRef">
                            <div class="panel-body">
                                <h3>1.1 | Welcome</h3>
                                <p>Welcome to the media team at New Valley Church! We are so excited that you have blessed our team with your gifts and service.  Although most of what we do is behind the scenes and unnoticed, what we do is important to ensure a smooth worship experience for New Valley members and visitors.  This document will outline both standards for presentation as well as an outlined step by step process of how to fulfill your role on the media team.</p>
                                <h3>1.2 | Responsibilities</h3>
                                <p>Your service on the media team will consist of preparing media for services one weekend a month.  Preparation time usually takes 1-2 hours and about 4 hours on Sunday morning for both services.  Responsibilities of this role include:</p>
                                  <ul>
                                    <li>Preparing the playlist of songs in Pro-Presenter for what the band is singing and any responsive readings (Call to Worship, Confession)</li>
                                    <li>Preparing sermon slides in ProPresenter</li>
                                    <li>Presenting all of these items during both services Sunday morning, ensuring smooth transitions between each item</li>
                                    <li>Recording the sermon for both services and uploading the one chosen by the preaching pastor to New Valley's website</li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Tools</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse noCrossRef">
                            <div class="panel-body">
                                <h3>2.1 Planning Center Online (PCO)</h3>
                                <p>planningcenteronline.com is where the staf will schedule all volunteers for services.  You will be asked to register on this site and will receive emails when you have been scheduled to serve.  If you know you will be unavailable to serve on a weekend, you can go into your account and enter blackout dates.</p>
                                <h3>2.2 Gmail</h3>
                                <p>newvalleymediateam@gmail.com is our shared email address.  You may use this for whatever you like, if you prefer to log in to this email address instead of your personal one on the media iMac.  Documentation for the team (such as this) will be saved in Google Drive under this account. (password omitted)</p>
                                <h3>2.3 Remote Access</h3>
                                <p><a href="brokenlink.html">Remote Access</a> is provided through a network connection to the iMac through a vnc protocol.</p>
                                <h3>2.4 Other</h3>
                                <p>Some other programs and websites we use are Spotify, ProPresenter, Ableton Live, Audacity, MP3 Converter, mychurchplantmedia.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Service Preparation Process</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse noCrossRef">
                            <div class="panel-body">
                                <h3>3.1 Sermon Slides</h3>
                                <p>Scott (or the pastor that is preaching that week) will email the sermon notes to your email by Friday or Saturday.  Everything in blue, plus the full text for the week and the sermon title will be entered onto slides in the Sermon document in ProPresnter.  The Start, Announcements Loop, Call to Worship, Confession, Conection Card, In Service Announcements, and Sermon items will have already been added to the Playlist for that week.</p>
                                <p>The administrator will update the Sermon document for each sermon series.  To create new slides in the presentation, click the + button at the bottom left of the main screen.  If you need a different template slide, right click the slide, choose Templates, then Scripture and choose from the options there.</p>
                                <p>The easiest way to enter scripture is to go to the Bibles button at the top of the screen.  Enter the passage and press Enter.  When the selected verses display, clickt he + at the bottom of the screen and chose "Add to selected document."  It will add it to the document you have highlighted in the playlist, most likely the Sermon.  To return to the sermon, click the X at the top right to close the Bible app.  Sometimes the bible verses will import in very small text.  Right click and re-apply the scripture template to the slide and it will look normal.  Try to keep the format of the slides consistent from week to week.</p>
                                <h3>3.2 Announcements Slides & Video</h3>
                                <p>The announcements video will be completed by Amanda each week.  Please double-check these to ensure no old announcements are still in the rotation.</p>
                                <p>There will be announcements listed on the order of service from PLanning Center that will be announced during the service.  Amanda will make sure there is a graphic in the "In Service Announcements" document for each of these.  If there isn't one, check the Media folder on the Desktop under Announcements or create a black slide and enter the information in white text.</p>
                                <h3>3.3 Song Playlist</h3>
                                <p>Use the order of service printed from Planning Center or log into Planning Center directly to get the list of songs for the service.  Carson will also email the band and media person the list of songs earlier in the week.  In ProPresenter, under Library, use the search feature to add the songs to the playlist.</p>
                                <p>Drag and drop the song into the playlist for that week.  If the song does not appear in the library, ProPresenter will automatically search for it online through Song Select.  Click the White paper + to add it to the library.</p>
                                <p>On the import screen, make sure the category is Song and The Template selected is Helvetica Full Page under Lyrics Styles.</p>
                                <p>After selecting those settings, click Edit at the bottom left of the import screen.  Review the slides in this window to ensure that each slide has no more than 4-5 lines of lyrics.  To break up a slide, put the cursor at the end of the line where you want to start a new slide and click "Insert Slide Break."  Once everything looks good, click Import at the top right.</p>
                                <p>Review all songs to ensure that there aren't too many lines per slide and that there aren't any lines with just one word.</p>
                                <h3>3.4 Additional Items</h3>
                                <p>Responsive readings, videos, etc.  There will often be a Call to Worship, Confession, etc., that will need to be entered into ProPresenter.  All of the text will be in Planning Center.  The easiest way to enter this is to copy and paste the text from Plannning Center into the Call to Worship or Confession items already in the Playlist.  The way text is entered into Planning Center is usually intentional to make it easy for the congregation to recite together, so try to keep the line spacing the same if at all possible.</p>
                                <p>any videos that will be shown will be prepared prior to the weekend and will be imported into ProPresenter.  When playing a video, you will just need to click on it and it will play and automatically end.  Please ensure that the sound person is aware they will need to bring the volume up for the computer at that point in the service and one of you will need to dim the lights using the switches on the back wall.</p>
                                <h3>3.5 ProPresenter Tips</h3>
                                  <ul>
                                    <li>To apply a template to multiple slides at once, hold down CMD-A to select all slides.  Then, right click a slide in the selection and choose the desired template.</li>
                                    <li>Use OPT-Enter to split a slide into two slides where the cursor is placed.</li>
                                    <li>To re-label a slide in a song, right click and apply a new label from the list.</li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Service Presentation and Standards</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h3>4.1 Background Music - Spotify</h3>
                                <p>Pre-post music timing and playlists: 15 minutes prior to 1st service, please use the "Pre-Worship" playlist in Spotify.  After 1st service until 10 minutes before 2nd service and after 2nd service, please use the "post Worship" playlist.  Try to select a different song to start each week.</p>
                                <h3>4.2 Song Arrangements</h3>
                                <p>Before service starts, the band director will come and review song order with you.  Use the arrangements feature to make this easier.  To view arrangements for a song, click the Org Chart icon at the top right of the screen.  to the left of the song elements, click the gear icon and choose the Main arrangement.  If there isn't one, click Add new arrangement and name it Main.</p>
                                <p>To change the arrangement or create a new one, drag and drop items from the top in gray down into the arrangement.  You can use elements multiple times if they are repeated in the song.  Any changes to words that need to be made to all arrangements should be made to the main elements in gray - they will then be updated in all arrangements.</p>
                                <h3>4.3 Countdown - Announcements Loop - Prelude</h3>
                                <p>The countdown should be running 15 minutes before service start time.  At this point, all prep work should be complete and we should be preparing the worship space as well as our hearts and minds for worship.</p>
                                <p>To set the countdown, click the Messages Icon at th etop of the screen.  Enter the time the service starts and hit Enter.  Click the X to close the messages box.</p>
                                <p>To start the countdown and the announcements loop simultaneously, click the black slide in the Start item in the playlist and both will begin.</p>
                                <p>Prelude:  Pause Spotify while the band plays their prelude song, but keep the announcements video running until the song is over.  Then move to the main graphic slide (found in the Video/Image section of the screen.)</p>
                                <h3>4.5 Sermon Recording Setup</h3>
                                <p>Before service starts, open Ableton Live and prepare it for the sermon recording.  To change to a linear view of the recording and channels, select the horizontal lines at the right of the window.  Under channel 3 Audio, sleect channel 25 from the drop-down list in the middle section (default selection is 1).  If it doesn't have any other numbers and says, "Configure," go to the Preferences option under the LIve menu at the top of the screen.</p>
                                <p>Select QU-32 for both the input and output.  Go back to the main screen and channel 25 should be available to select from the list.</p>
                                <p>Arm channel 25 to prepare it for recording by clicking the circle at the very right to turn it red.  You are now ready to record.</p>
                                <h3>4.5 Service Presentations</h3>
                                <p>The order of Service printed from Planning center will guide you through the service.  Make any notes/reminders for yourself on this sheet.</p>
                                <p>Background Image:  Songs and liturgy should always have the black background that can be found in the Video/Image section of the screen.</p>
                                <p>Song Presentation and Transitions: We can use a few things to help us advance song slides with good timing.  Knowing the song, ensuring the arrangement is in the correct order and watching Carson or the vocalist move toward the microphone to start singing are all helpful tools to know when to have lyrics up on the screen.  The earlier, the better.  Advance to the next slide when there are still a few words left to sing on the current slide.  People will have already read those words and ProPresenter takes a second to move to the next slide.</p>
                                <p>The Clear All, Slides, and BKGs buttons at the top left of ProPresenter are useful tools.</p>
                                <p>Clear All: will clear everything to a black slide.  This is iedeal to use after the sermon ends before putting up the Communion slide.  Several times when we move from Sermon to Communion, words still appear on top of the communion slide.</p>
                                <p>Slides:  Clears just the words entered on a slide.  This is helpful if there isn't a blank slide in a song, you can still clear the words.</p>
                                <p>BKGs: clears just the background.  This one will probably be used the least.</p>
                                <h3>4.6 Sermon Recording</h3>
                                <p>Once Scott begins for the sermon, click on the red record button at the top of the screen.  There is a 1-2 second delay from when you press record to when the recording starts.  Make sure you see levels on the channel.  If you don't, as the sound person if you have the correct channel.  When Scott finishes praying, click on the rectangular stop button.</p>
                                <p>When the service ends, double-click the track to show the editing tools at the bottom of the screen Adjust the level of the recording if it is too low.</p>
                                <p>Export the file by choosing Export Audio/Video from the File menu.</p>
                                <p>Keep all the options as they appear and click Export.  Save the file in Desktop>Sermons>year-Month and name it MM.DD.YYYY-1 or MM.DD.YYYY-2 (for 1st or 2nd service.)</p>
                                <p>To prepare for the second service, choose New Live Set form the File menu click Don't Save and Delete Files.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Sermon Upload</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h3>5.1 File Conversion</h3>
                                <p>Once the amplified file is exported, it will need to be converted to an MP3 file.  To do this, we use the MP3 Converter program.  Click on the icon below in the toolbar at the bottom of the screen.  YOu will also need to open the Sermons folder from the desktop.  Drag the file you want to convert from the finder window and drop it anywhere in the window of the MP3 program.</p>
                                <p>The conversion will automatically start.  When the file is finished converting, the new mp3 file will be in the same folder as the original .wav file.</p>
                                <h3>5.2 File Upload</h3>
                                <p>To upload the mp3 file to the New Valley website, logon to https://cpmdb1.com/login/ and enter username: mediateam and password: (omitted).  It is bookmarked in Chrome.</p>
                                <p>Amanda will have already created a draft of the week's sermons that has the small group discussion guide attached to it.  Please be sure to upload the audio file to this draft so that the guide gets published to the website.</p>
                                <p>On the right side of the screen, under Sermon Media, click on the Add Sermon Audio button to add the mp3 file.  Click on Select Files, browse to the Sermons folder on the desktop and select the mp3 file you want to upload.  Double click the file or click  open once it is selected.  It will appear in the window and then select Start Uploading.</p>
                                <p>You are ready to publish the recording to the website.  At the bottom right of the screen in the gray area, click on Publish Sermon.  Now go to New Valley's website and double check that the sermon has been successfully published and the recording is clear.</p>
                            </div>
                        </div>
                    </div>
</div>
<!-- /.panel-group -->
