<div class="row">
	<div class="col-lg-12">
		<!--<h2 class="page-header">Service List</h2>-->
	</div>
	<div class="col-md-4">
		<div class="media">
      <div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-microphone fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Services](/pco-services.html)</h3>
				<p>Scheduling and preparing each and every service from start to finish.</p>
			</div>
		</div>
		<div class="media">
      <div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-music fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Check-Ins](/pco-checkins.html)</h3>
				<p markdown="1">Our digital roll-call system to keep track of who shows up.</p>
			</div>
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-support fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Three</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
	<div class="col-md-4">
		<div class="media">
			<div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-tv fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[People](/pco-people.html)</h3>
				<p>It's our master rolodex with everything we need to stay connected to the right people at the right time.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-bomb fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading" markdown="1">[Change Logs](/category_pco_change_log.html)</h4>
				<p>This is a list of posts that outline the changes that have been made to Planning Center.</p>
			</div>
			</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-bank fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Six</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
	<div class="col-md-4">
		<div class="media">
			<div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-ticket fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Registrations](/pco-registrations.html)</h3>
				<p markdown="1">Managing sign-ups for all of the events, classes, conferences, etc., that we put on and are a part of.</p>
			</div>
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Eight</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-recycle fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Nine</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
</div>
